.DS_Store
node_modules
/dist


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
app/static/*
.parcel-cache/*
.venv/*
backend/media/*
deploy/ssl_config/certbot/conf/live/
deploy/ssl_config/certbot/conf/archive/
deploy/ssl_config/certbot/conf/accounts/
deploy/ssl_config/certbot/conf/renewal/
backups/*
frontend/public/robots.txt
frontend/public/sitemap*.xml